<div *ngIf="vehicle$ | async as vehicle; else loading">
  <div class="row">
    <div class="col-lg-4">
      <!-- Default Card Example -->
      <div class="card mb-4">
<!--        <div class="card-header">-->
<!--          ВВТ: {{vehicle.name}}-->
<!--        </div>-->
        <div class="card-body">
          <img src="{{vehicle.vehiclePictures[0] === null? 'assets/backgr.jpg':vehicle.vehiclePictures[0].uri}}" style="max-width: 360px;">
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card mb-6">
        <div class="card-header">
          ВВТ: {{vehicle.name}}
        </div>
        <div class="card-body">
          <mat-tab-group color="">
            <mat-tab label="Основное">
              <div>
                Наименование: {{vehicle.name}}
              </div>
              <div>
                Модель: {{vehicle.vehicleModel.name}}
              </div>
              <div>
                Заводской номер: {{vehicle.vehicleNomberFactory}}
              </div>
              <div>
                Шасси: {{vehicle.vehicleNomberChassis}}
              </div>
              <div>
                Состояние: {{vehicle.condition.name}}
              </div>
            </mat-tab>
            <mat-tab label="Экипаж">Экипаж</mat-tab>
            <mat-tab label="Запчасти">Запчасти</mat-tab>
            <mat-tab label="История ремонтов">История ремонтов</mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-header">
          Документы
        </div>
        <div class="card-body">
          <ul>
            <li>
              <a href="" >Схема.doc</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>


<ng-template #loading>
  <app-preloader></app-preloader>
</ng-template>
