<div *ngIf="vehicle$ | async as vehicle; else loading">
  <div class="row">
    <div class="col-lg-4">
      <!-- Default Card Example -->
      <div class="card mb-4">
<!--        <div class="card-header">-->
<!--          ВВТ: {{vehicle.name}}-->
<!--        </div>-->
        <div class="card-body">
          <img src="{{imageMain}}" style="max-width: 360px;">
          <div style="display: contents; margin: 5px">
            <ul class="" style="display: inline-block; padding-left: 0px">
              <li class="" *ngFor="let image of vehicle.vehiclePictures" style="display: inline-block; margin: 2px">
                <img
                  src="{{image.uriPreview}}"
                  style="width: 60px; height: 50px; cursor: pointer"

                (click)="setImage(image.uri)">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card mb-6">
        <div class="card-header">
          ВВТ: {{vehicle.name}}
        </div>
        <div class="card-body">
          <mat-tab-group color="">
            <mat-tab label="Основное">
              <form [formGroup]="form" (ngSubmit)="ngSubmit()" style="width: 90%">
                <br>
                <div class="form-row" style="width: 90%">
                  <div class="col-lg-3">
                    <span>Наименование:</span>
                  </div>
                  <div class="col-lg-6">
                    <input type="text"
                           formControlName="name"
                           class="form-control form-control-user"
                           placeholder="имя справочника">
                  </div>
                </div>

                <div class="form-row" style="width: 90%">
                  <div class="col-lg-3">
                    <span>Модель:</span>
                  </div>
                  <div class="col-lg-6">
                    <input type="text"
                           formControlName="model"
                           class="form-control form-control-user"
                           placeholder="имя справочника">
                  </div>
                </div>

                <div class="form-row" style="width: 90%">
                  <div class="col-lg-3">
                    <span>Заводской номер:</span>
                  </div>
                  <div class="col-lg-6">
                    <input type="text"
                           formControlName="factoryNumber"
                           class="form-control form-control-user"
                           placeholder="имя справочника">
                  </div>
                </div>

                <div class="form-row" style="width: 90%">
                  <div class="col-lg-3">
                    <span>Шасси:</span>
                  </div>
                  <div class="col-lg-6">
                    <input type="text"
                           formControlName="chassis"
                           class="form-control form-control-user"
                           placeholder="имя справочника">
                  </div>
                </div>

                <div class="form-row" style="width: 90%">
                  <div class="col-lg-3">
                    <span>Состояние:</span>
                  </div>
                  <div class="col-lg-6">
                    <span class="costom-badge"> {{vehicle.condition.name}} </span>
                  </div>
                </div>


                <hr>

                <div formArrayName="fields">
                  <div *ngFor="let field of form.controls['fields']['controls']; let i = index">
                    <div [formGroupName]="i">
                      <div class="form-row" style="width: 90%">
                        <div class="col-lg-6">
                          <h4>
                            {{field.value['nameField']}}:
                          </h4>
                        </div>
                        <div class="col-lg-6">
                          <input type="text"
                                 formControlName="valueData"
                                 class="form-group"
                                 class="form-control form-control-user" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-4">
                    <button type="submit"
                            mdbBtn color="info"
                            block="true"
                            class="my-4 btn btn-primary btn-user btn-block">
                      Сохранить
                    </button>
                  </div>
                </div>
              </form>

            </mat-tab>
            <mat-tab label="Экипаж">
              <div class="card-body">
                <div class="table-responsive">

                  <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                      <th>№</th>
                      <th>Приказ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of crews; let i = index">
                      <td>
                        {{i + 1}}
                      </td>
                      <td>
                        <a [routerLink]="['/vehicle', 'crew',item.id, 'edit']">
                          Экипаж №{{item.orderNumber}} от {{item.orderDateStart | date:"dd.MM.yyyy"}}</a>
                      </td>
                    </tr>
                    </tbody>
                  </table>


                </div>
              </div>
            </mat-tab>
            <mat-tab label="История ремонтов">
              <div class="card-body">
                <div class="table-responsive">

                  <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                      <th>№</th>
                      <th>Дата</th>
                      <th>Состав работ</th>
                      <th>Бригада</th>
                      <th>Статус</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr >
                      <td>
                      </td>
                      <td></td>
                      <td>
                      </td>
                      <td>
                      </td>
                      <td>
                      </td>
                    </tr>
                    </tbody>
                  </table>


                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-header">
          Документы
        </div>
        <div class="card-body">
          <ul>
            <li>
              <a href="" >Схема.doc</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>


<ng-template #loading>
  <app-preloader></app-preloader>
</ng-template>
