<div class="row">
  <div class="col-lg-6">

    <!-- Default Card Example -->
    <div class="card mb-4">
      <div class="card-header">
        Справочники
      </div>
      <div class="card-body">
        <div>
          <a routerLink="/mdm/level-menagement">Уровни управления</a>
        </div>
        <div>
          <a routerLink="/mdm/military-formation">Воинские формирования</a>
        </div>
        <div>
          <a routerLink="/mdm/military-position">Должности</a>
        </div>
      </div>
    </div>

  </div>
</div>

<router-outlet></router-outlet>
