<div>
  <div class="row">

    <div class="col-lg-6">
      <div class="card mb-6">
        <div class="card-header">
          Конструктор
        </div>
        <div class="card-body">

          <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="form-row mb-4">
              <div class="col">
                <!-- name -->
                <input type="text"
                       formControlName="name"
                       class="form-control form-control-user"
                       placeholder="имя справочника">
              </div>
            </div>

            <div class="form-row mb-4">
              <div class="col">
                <!-- model -->
                <select
                  formControlName="model"
                  (change)="onInputChange($event)"
                  class="browser-default custom-select">
                  <option disabled>Выберите модель ВВТ</option>
                  <option *ngFor="let item of vehicleModels">{{item.name}}</option>
                </select>
              </div>
            </div>

            <div class="form-row mb-4">
              <div class="col">
                <!-- model -->
                <a class="btn btn-success btn-icon-split" (click)="addField()">
                  <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                  </span>
                  <span class="text" style="color: #fff">Добавить поле</span>
                </a>
              </div>
            </div>


            <div class="form-row mb-4">
              <div class="col">
                <!-- model -->
                <div formArrayName="fields">
                  <div *ngFor="let field of form.controls['fields']['controls']; let i = index">
                    <br>
                    <div [formGroupName]="i">
                      <div class="row">
                        <div class="col-lg-4">
                          <input type="text"
                                 formControlName="nameField"
                                 class="form-group"
                                 class="form-control form-control-user"
                          placeholder="имя поля"/>
                        </div>
                        <div class="col-lg-4">

                          <select
                            formControlName="typeData"
                            class="browser-default custom-select">
                            <option disabled>Выберите тип полч</option>
                            <option *ngFor="let item of types">{{item.description}}</option>
                          </select>

                        </div>

                        <div class="col-lg-4">

                          <a class="btn btn-success btn-icon-split" (click)="removeField(i)">
                            <span class="text" style="color: #fff">X</span>
                          </a>

                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="form-row mb-4">
              <div class="col-3">
                <button mdbBtn color="info"
                        block="true"
                        class="my-4 btn btn-primary btn-user btn-block"
                        type="submit">Создать</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>


<ng-template #loading>
  <app-preloader></app-preloader>
</ng-template>
