<app-alert></app-alert>
<ng-template modalRef></ng-template>

<div id="wrapper">
  <app-aside></app-aside>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <app-header></app-header>

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span (click)="showModal()">Copyright &copy; Your Website 2019</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->
  </div>
</div>

