<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Пользователи</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <!--<h6 class="m-0 font-weight-bold text-primary">+ Добавить</h6>-->
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
      <i class="fas fa-fw fa-plus-circle"></i>
      <span>Добавить</span>
    </a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>№</th>
          <th>Логин</th>
          <th>Имя</th>
          <th>Фамилия</th>
          <th>Отчество</th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let user of users; let idx = index">
          <td>{{idx+1}}</td>
          <td>{{user.login}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.middleName}}</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-5"></div>
    <div class="col-sm-12 col-md-7">
      <div class="dataTables_paginate paging_simple_numbers">
        <ul class="pagination">
          <li class="paginate_button page-item previous disabled">
            <a routerLink="/1" class="page-link">Назад</a>
          </li>
          <li class="paginate_button page-item"
              [class.active]="currentPage == count"
              *ngFor="let count of totalPages">
            <button class="page-link" (click)="onCurrentPage(count)">{{count}}</button>
          </li>
          <li class="paginate_button page-item next" *ngIf="totalCount>10">
            <button class="page-link" >...</button>
          </li>
          <li class="paginate_button page-item next" *ngIf="totalCount>10">
            <button class="page-link" >{{totalCount}}</button>
          </li>
          <li class="paginate_button page-item next">
            <a routerLink="/1" class="page-link">Вперёд</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

