<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Пользователи</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <!--<h6 class="m-0 font-weight-bold text-primary">+ Добавить</h6>-->
<!--    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">-->
<!--      <i class="fas fa-fw fa-plus-circle"></i>-->
<!--      <span>Добавить</span>-->
<!--    </a>-->
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0" *ngIf="isLoaded;else noContent">
        <thead>
        <tr>
          <th>№</th>
          <th>Логин</th>
          <th>Имя</th>
          <th>Фамилия</th>
          <th>Отчество</th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let user of users; let idx = index">
          <td>{{idx+1}}</td>
          <td>{{user.login}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.middleName}}</td>
        </tr>

        </tbody>
      </table>
      <ng-template #noContent>
        <app-preloader></app-preloader>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-5"></div>
    <div class="col-sm-12 col-md-7">
      <div class="dataTables_paginate paging_simple_numbers">
        <ul class="pagination">
          <li class="paginate_button page-item previous" [attr.disabled]="currentPage === 1"
              [ngClass]="currentPage===1? 'disabled':''">
            <button class="page-link" (click)="onBack()">Назад</button>
          </li>
          <li class="paginate_button page-item"
              [class.active]="currentPage == count"
              *ngFor="let count of pages">
            <button class="page-link" (click)="onCurrentPage(count)">{{count}}</button>
          </li>
          <li class="paginate_button page-item next"
              [attr.disabled]="currentPage === totalPages"
              [ngClass]="currentPage===totalPages? 'disabled':''">
            <button class="page-link" (click)="onNext()">Вперёд</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

