<div class="container-main">
  <div id="grid">
    <div><span class="logo-txt">АИС Сервисного <br> обслуживания ВВТ</span></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div>
      <app-presentation-button
        [src]="'assets/graph2icon.png'"
        [name]="'Панель'"
        [doubleName]="'показателей'"
        [module]=""
        [path]="'dashboard'"
      >
      </app-presentation-button>
    </div>
    <div></div>
    <div></div>
    <div>
      <app-presentation-button
        [src]="'assets/techicon.png'"
        [name]="'Поиск паспортa'"
        [doubleName]="'ввт'"
        [module]="'vehicle'"
        [path]="'map'"
      >
      </app-presentation-button>
    </div>
    <div></div>
    <div></div>
    <div>
      <app-presentation-button
        [src]="'assets/i4.png'"
        [name]="'планирование'"
        [doubleName]="'заявок'"
        [module]="'repair'"
        [path]="'repairs'"
      >
      </app-presentation-button>
    </div>
    <div></div>
    <div></div>
    <div>
      <app-presentation-button
        [src]="'assets/smsicon.png'"
        [name]="'сообщения'"
        [module]="'messenger'"
        [path]="'layout'"
      >
      </app-presentation-button></div>
    <div></div>
    <div></div>
  </div>
</div>
