<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
    id="accordionSidebar"
    [ngClass]="{
      'toggled':isToggled,
      '':!isToggled
    }"
(click)="onToggled()">
<!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center"
     routerLink="/presentation"
     >
    <div class="sidebar-brand-icon rotate-n-15">
    </div>
    <div class="sidebar-brand-text mx-3">
      <img src="assets/graphit-logo.png" width="137px">
    </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Показатели</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Формуляры
  </div>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/vehicle/map" routerLinkActive="active">
      <i class="fas fa-fw fa-table"></i>
      <span>Карта</span></a>
  </li>
  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/vehicle/vehicles" routerLinkActive="active">
      <i class="fas fa-fw fa-table"></i>
      <span>Учёт ВВТ</span></a>
  </li>
  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/vehicle/models" routerLinkActive="active">
      <i class="fas fa-fw fa-table"></i>
      <span>Модели ВВТ</span></a>
  </li>
  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/vehicle/crew" routerLinkActive="active">
      <i class="fas fa-fw fa-table"></i>
      <span>Экипажи</span></a>
  </li>
  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/vehicle/constructor-models" routerLinkActive="active">
      <i class="fas fa-fw fa-cog"></i>
      <span>Конструктор моделей</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Ремонт
  </div>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/repair/repairs" routerLinkActive="active">
      <i class="fas fa-fw fa-table"></i>
      <span>Техника в ремонте</span></a>
  </li>


  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/repair/reports" routerLinkActive="active">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Отчётность</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Склад
  </div>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/warehouse/warehouses" routerLinkActive="active">
      <i class="fas fa-fw fa-table"></i>
      <span>Склады</span></a>
  </li>
  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/warehouse/documents" routerLinkActive="active">
      <i class="fas fa-fw fa-table"></i>
      <span>Документы</span></a>
  </li>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/warehouse/reports" routerLinkActive="active">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Отчётность</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    НСИ
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" routerLink="/mdm/main" routerLinkActive="active" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Справочники</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Custom Components:</h6>
        <a class="collapse-item" href="buttons.html">Buttons</a>
        <a class="collapse-item" href="cards.html">Cards</a>
      </div>
    </div>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Администрирование
  </div>

  <li class="nav-item">
    <a class="nav-link" routerLink="/settings/main" routerLinkActive="active">
      <i class="fas fa-fw fa-wrench"></i>
      <span>Настройки</span></a>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">




  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->
