<div class="aside aside-left  aside-fixed  d-flex flex-column flex-row-auto">
  <div class="brand flex-column-auto">
    <a href="">LOGO</a>
    <div> + </div>
  </div>
  <div class="aside-menu-wrapper flex-column-fluid">
    <div class="aside-menu my-4 scroll ps ps--active-y">
      <ul class="menu-nav">
        <li class="menu-item">
          <a href="" class="menu-link">Main</a>
        </li>
        <li class="menu-item">
          <a href="" class="menu-link">Main</a>
        </li>
        <li class="menu-item">
          <a href="" class="menu-link">Main</a>
        </li>
        <li class="menu-item">
          <a href="" class="menu-link">Main</a>
        </li>
        <li class="menu-item">
          <a href="" class="menu-link">Main</a>
        </li>
        <li class="menu-item">
          <a href="" class="menu-link">Main</a>
        </li>
        <li class="menu-item">
          <a href="" class="menu-link">Main</a>
        </li>
        <li class="menu-item">
          <a href="" class="menu-link">Main</a>
        </li>
        <li class="menu-item">
          <a href="" class="menu-link">Main</a>
        </li>
        <li class="menu-item">
          <a href="" class="menu-link">Main</a>
        </li>
      </ul>
    </div>
  </div>
</div>
